body {
    margin: 0 auto;
    width: 100%;
    max-width: 80%;
    min-width: 720px;
    font-size: 1.2em;
}

body>header {
    margin: 0;
    padding: 5px;
    width: 100%;
}

body>header img {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

section {
    clear: both;
}

/* #6 Float */
body img {
    width:12%;
    float: right;
    padding: 20px;
}

body li img {
    width:30%;
    float: right;
    padding: 20px;
}

img.clanicons{
    height: 10%;
    width: 10%;
}

body div>img {
    width:100%;
}

nav {
    display: table;
    width: 100%;
}

.clanlogos{
    width: 80%;
    margin: 0px auto;
}

nav>ul {
    display: table-row;
}

nav>ul>li {
    display: table-cell;
    text-align: center;
}

nav>ul>li>a {
    display: block;
}

section.clanname h1 {
    font-size: 2vw;
    font-weight: normal;
    margin: 0;
    padding: 20px 20px 20px 20px;
}

/* #3 IDs and classes */
.cardpreview {
    width:30%;
    float: right;       
}

.cardtext {
    font-size: 3vh;
}

/* #13 image icon for list */
.cardtext ul {
    list-style-image: url(Critical_symbol.png);
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
}

footer {
    text-align: center;    
}

#subscribe{
    border: solid 1px black;
}

#slideshowcontrols{
    position: relative;
    text-align: center;
}

.clanlogos{
    align-items: center;
}